/* Material icons */

.material-icons,
.icon-left:before,
.icon-right:after,
.breadcrumb ol li:not(:last-child):after,
.info:before,
.important:before,
.messages-status:before,
.messages-warning:before,
.messages-error:before,
.form-item input[type="checkbox"]:before,
.form-item input[type="radio"]:before,
.form-item.form-type-select:after,
.navbar-account-menu .menu a:before,
.sidebar .menu .collapsed > a:after,
.sidebar .menu .expanded > a:after,
.collapsible-toggle:before,
.pager .pager-item.item-first > a:before,
.pager .pager-item.item-first > span:before,
.pager .pager-item.item-previous > a:before,
.pager .pager-item.item-previous > span:before,
.pager .pager-item.item-ellipsis > a:before,
.pager .pager-item.item-ellipsis > span:before,
.pager .pager-item.item-next > a:before,
.pager .pager-item.item-next > span:before,
.pager .pager-item.item-last > a:before,
.pager .pager-item.item-last > span:before  {
  font-family: 'Material Icons', 'Material Icons Local';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  /* Preferred icon size */
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  vertical-align: middle;
  margin-right: 2px;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.fs-18, .fs-18.icon-left:before, .fs-18.icon-right:after {
  font-size: 18px;
}
.material-icons.fs-24, .fs-24.icon-left:before, .fs-24.icon-right:after {
  font-size: 24px;
}
.material-icons.fs-36, .fs-36.icon-left:before, .fs-36.icon-right:after {
  font-size: 36px;
}
.material-icons.fs-48, .fs-48.icon-left:before, .fs-48.icon-right:after {
  font-size: 48px;
}

.icon-dark.icon-left:before, .icon-dark.icon-right:after {
  color: rgba(0, 0, 0, 0.87) !important;
}
.icon-secondary.icon-left:before, .icon-secondary.icon-right:after {
  color: rgba(0, 0, 0, 0.54);
}
.icon-disabled.icon-left:before, .icon-disabled.icon-right:after {
  color: rgba(0, 0, 0, 0.26);
}
.icon-light.icon-left:before, .icon-light.icon-right:after {
  color: #FFF !important;
}
.icon-light.icon-disabled.icon-left:before, .icon-light.icon-disabled.icon-right:after {
  color: rgba(255, 255, 255, 0.3) !important;
}
.icon-primary.icon-left:before, .icon-primary.icon-right:after {
  color: #607d8b;
}
.icon-accent.icon-left:before, .icon-accent.icon-right:after {
  color: #00b0ff;
}

.orange-icon {
  color: rgba(255, 170, 0, 1);
}

.blue-icon {
  color: inherit;
}

.blue-icon::before,
i.blue-icon {
  color: rgba(0, 176, 255, 0.85);
}

.icon-left:before {
  content: attr(data-icon);
  float: left;
  margin-right: 4px !important;
  margin-top: -2px !important;
}
.icon-right:after {
  content: attr(data-icon);
  margin-left: 12px;
  float: right;
}

/* Generic effects, backgrounds, borders, colors */

.bg-dark-transparent {
  background-color: rgba(1, 1, 1, 0.2);
}

.bg-white {
  background-color: rgba(255, 255, 255, 1) !important;
}

.bg-grey {
  background-color: rgba(227, 225, 225, 1) !important;
}

.bg-light-grey {
  background-color: rgba(242, 242, 242, 1) !important;
}

.bg-very-light-grey {
  background-color: rgba(238, 236, 236, 1) !important;
}

.bg-dark-grey {
   background-color: rgba(186, 186, 186, 1) !important;
}

.bg-dark {
  background-color: rgba(65, 65, 65, 1) !important;
}

.bg-blue {
  background-color: rgba(0, 170, 255, 1);
}

.bg-dark-blue {
  background-color: rgba(0, 51, 102, 1);
}

.bg-green {
  background-color: rgb(38, 135, 71);
}

/*
.bg-rtp-blue {
  background-color: rgba(20, 45, 102, 1);
}
*/

.bg-light-blue {
  background-color: rgba(44, 212, 255, 1);
}

.bg-orange {
  background-color: rgba(255, 170, 0, 1);
}


/* Borders */

.boxed {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.bb-d {
  border-bottom: 1px dotted #00b0ff;
}

.no-border { 
  border: none !important;
} 

.border-1,
.border-1-image img,
img.border-1-image {
  border-style: solid;
  border-width: 1px;
}

.border-3,
.border-3-image img,
img.border-3-image {
  border-style: solid;
  border-width: 3px;
}

.border-right-2 {
  border-right-width: 2px;
  border-right-style: solid; 
}

.border-grey,
.border-grey-image img,
img.border-grey-image {
  border-color: rgba(227, 225, 225, 1); 
}

.border-orange {
  border-color: rgba(242, 142, 0, 1);
}

.bt-0 {
  border-top: none !important;
}

.bb-0 {
  border-bottom: none !important;
}

.divider-top {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.divider-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.divider-bottom + .divider-top { 
  border-top: 0;
}

.divider-bottom-orange { 
  border-bottom: 2px solid rgba(242, 142, 0, 1);
}

.divider-5 {
  border-width: 5px;
}

.divider-bottom-4 {
  border-bottom-width: 4px;
  border-style: solid;
}

.divider-right {
  border-right-style: solid;
  border-right-width: 1px;
}

.border-radius-4 {
  border-radius: 4px;
}

.icon-border, 
.img-border img,
img.img-border {
  border: 1px solid rgba(112, 112, 112, 0.9);
}

.round,
.border-radius-50,
.border-radius-50 img,
.border-radius-50 a,
img.leaflet-marker-icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

 
.text-highlight {
  background-image: -webkit-gradient(linear,left top,right top,color-stop(50%,#fefefe),color-stop(50%,#b1e5ff));
  background-image: linear-gradient(90deg,#fefefe 50%, #b1e5ff 0);
  background-position: 0;
  background-size: 200%;
  -webkit-transition: all .8s;
  transition: all .8s;
  font-weight: 400;
}

.text-highlight.highlighted {
  background-position: -100%;
}

.hover-blue:hover,
.hover-blue a:hover {
  color: rgba(0, 170, 255, 1);
}

.hover-animated {
  display: inline-block;
  text-decoration: none;
}

.hover-animated::after,
.underline-animated::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgba(0, 170, 255, 1);
  transition: width .3s;
}

.underline-animated-orange::after {
  background: #F28E00;
}

.underline-animated::after {
  transition: width .9s;
}

.underline-animated.active::after {
  background: #F28E00;
}

.hover-animated:hover {
  opacity: 0.85; 
}

.hover-animated:hover::after,
.underline-animated.animated::after {
  width: 100%;
}

.hover-dark-blue:hover {
  background-color: rgba(0, 51, 102, 1);
  color: rgba(250, 250, 250, 0.95);
}

.hover-dark-blue:hover > * {
  color: rgba(255, 255, 255, 0.95) !important;
}

.pipe-before::before,
.pipe-after::after {
  content: "|";
  margin: 0 2px;
}

.pipe-before::before {
  margin-left: 7px;
}

.pipe-after::after {
  margin-right: 7px;
}

.grey-line::before,
.grey-line::after {
  background-color: rgba(112, 112, 112, 1);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 18%;
}

.grey-line-before::before {
  margin-right: 32px;
}

.grey-line-after::after {
  margin-left: 32px;
}

.blue-line-before::before {
  background-color: #00AAFF;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 12%;
  margin-right: 12px;
}

.blue-line-after::after {
  background-color: #00AAFF;
  width: 100%; 
  min-width: 120px;
}  

.blue-line-before.full-line::before {
  width: 98%;
}

.blue-orange {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-image: linear-gradient(to right, rgb(48, 172, 224) 95%, rgb(255, 128, 0) 5%) 1;
  /*linear-gradient(90deg, rgba(48,172,224,1) 0%, rgba(48,172,224,1) 95%, rgba(255,128,0,1) 95%); */
}

.yellow-line-around::before,
.yellow-line-around::after {
  content: "";
  display: inline-block;
  width: 18%;
  margin: 0 8px;
  vertical-align: middle;
  border-bottom: 3px solid;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: 26%;
  opacity: 0.25;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: 56% 70%; /* 10% 68%; */
  content: "";
}

/*
.staggered li {
  animation-delay: calc(attr(data-count) * 150ms);
}
*/

.no-icon::before,
.no-icon::after {
  content: "";
  display: none; 
}

.no-transform::after {
  transform: none !important;
  border: none !important;
}

.pointer:hover {
  cursor: pointer;
}

.no-ext span.ext,
.no-ext.ext span.ext,
.no-ext span.mailto,
.no-ext.ext span.mailto,
.no-ext svg.ext {
  display: none !important;
}

.list-none {
  list-style: none !important;
}

.opacity-0 {
  opacity: 0;
}

.opacity-0-5 {
  opacity: 0.5;
}

.opacity-0-7 {
  opacity: 0.7;
}

.opacity-50p,
.opacity-50p a {
  opacity: 0.55 !important;
}

.opacity-50p:hover,
.opacity-50p a:hover {
  opacity: 1 !important; 
}

.grayscale {
  filter: grayscale(100%);
}

.grayscale:hover {
  filter: none;
}

.lazy-placeholder { 
  background-color: #e4e4e4;
  position: relative;
  width: 100%;
  height: auto; 
  transition: all 700ms ease; 
}

.lazy-placeholder.loaded {
  background-color: transparent;
}

.scale-08 {
  transform: scale(0.84);
}

.scale-1-2 {
  transform: scale(1.25);
}

.blur-2 {
  filter: blur(2px);
}

.shadow {
  -webkit-box-shadow: 14px 11px 16px -9px rgba(0,0,0,0.44);
  -moz-box-shadow: 14px 11px 16px -9px rgba(0,0,0,0.44);
  box-shadow: 14px 11px 16px -9px rgba(0,0,0,0.44);
}

.shadow-3 {
  box-shadow: 0px 3px 3px #000029;
}

.shadow-24 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 12px 24px rgba(0, 0, 0, 0.24);
}

.z-level-0 {
  box-shadow: none;
}

.z-level-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.z-level-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.z-level-3, .fab:active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.z-level-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.z-level-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.block-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0.5rem;
}

.block-shadow:not(.bg-dark-blue) {
  background-color: rgba(250, 250, 250, 1);
}

.img-shadow img,
img.img-shadow,
.icon-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.toolbar-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}


/* Ajax full screen loader - todo: make something niecr for drupal inline throbber too */
.ajax-progress,
.ajax-progress-throbber,
.ajax-progress-fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  overflow: hidden;
  text-indent: -99999em;
}
 
.ajax-progress-throbber:before,
.ajax-progress-fullscreen:before {
  content: " ";
  background-color: rgb(20, 45, 102);
  display: block;
  width: 28px;
  height: 28px;
  background-image: none;
  -webkit-animation: pulseScaleOut 1s infinite ease-in-out;
  animation: pulseScaleOut 1s infinite ease-in-out;
  border-radius: 100%; 
  border-width: 4px;
  border-style: solid;
  border-color: #0074bd;
  overflow: hidden;
  text-indent: -99999em;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Progress bar */

progress {
  
  /* Positioning */
  position: fixed;
/*   left: 0; */
  top: 114px;
  
  margin: 0 auto;

  z-index: 5; 

  /* Dimensions */
  width: 100%;
  height: 2px;

  max-width: 1280px;

  /* Reset the appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: rgba(255, 170, 0, 1);

  margin-left: -1%;

}

.toolbar-fixed progress {
  top: 153px; /* 192px; */ /* 153px; */
}

body.toolbar-tray-open.toolbar-horizontal progress {
  top: 193px;
}

/* body.toolbar-fixed.toolbar-tray-open #before-main { */



progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: rgba(255, 170, 0, 1);
}

progress::-moz-progress-bar {
  background-color: rgba(255, 170, 0, 1);
}

/* Leaflet Maps */
.animated-map {
  position: fixed;
  width: 100%;
  background: transparent;
  min-height: calc(100vh - 360px);
  margin: 0 auto;
  padding: 0;
  bottom: 0;
  height: auto;
  left: 0;
  z-index: 3;
}

.animated-map .leaflet-container h2 { 
  font-size: 1rem;
  line-height: 1.5;
}

/*
.field-type-text-long p,
.field-type-text-with-summary p {
  margin-top:15px;
  margin-bottom:15px;
}
*/

.views-element-container .field-type-text-long p,
.views-element-container .field-type-text-with-summary p,
.collapsible-toggle .field-type-text-long p,
.collapsible-toggle .field-type-text-with-summary p {
  margin: 0;
}