{% if ajax_links['#theme'] %}
  {{ ajax_links|render }}

{% else %}

{% if ajax_links is not empty  %} 
  {%
    set link_classes = [
      'col-xs',
      'fs-085',
      'fw-500',
      'btn',
      'btn-raised',
      'btn-grey',
      'btn-colored',
      'col-xs',
      'ml-0',
      'mr-4',
      'mb-8',
      'pl-8',
      'pr-8',
    ]
  %}

  <div class="ajax-links-wrapper row start-sm middle-xs col-xs-12 pt-16 pb-16">
    {% for item in ajax_links %}
      {% if item.url and item.title %}
        {% set classes = item.attributes['data-id'] == 'reset' ? 'active reset-button pl-16 pr-8' : link_classes %}
         <a {{ item.attributes.addClass(classes).setAttribute('href', item.uri) }}>{{ item.title }}{# <i class="material-icons hidden fs-085 absolute ml-12 mt-4">{{ icon }}</i> #}</a>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
{% endif %}