{% if ajax_links is not null and  ajax_links is not empty %}

  {%
    set buttons = {
      '#theme': 'nk_tools_ajax_links',
      '#ajax_links':  ajax_links,
      '#icon': config.icon,
      '#cache': {'max-age': 0}
    }
  %}  
  {{ buttons|render }}
{% endif %}
<div class="js-view-dom-id-{{ dom_id }}"></div>